In [6]:
type(True)

bool

In [9]:
int(True if 1 == 1 else False)

1

In [11]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [14]:
americano = 4500
latte = 5000
print(americano + latte)

9500

In [17]:
box = 2.17
str(box)
int(box)

2

In [22]:
if True: print("실행")
if False: print("무시")

if 1 : print('실행')
if 0 : print('무시')

실행
실행

In [28]:
listbox = ['b','c','a']
print(listbox)

['b', 'c', 'a']

In [29]:
listbox.append('d')
print(listbox)

['b', 'c', 'a', 'd']

In [32]:
sorted(listbox, reverse=True)

['d', 'c', 'b', 'a']

In [35]:
# sorted는 같은 타입끼리 가능
list_st_nb = ['a',100,'h',8]
sorted(list_st_nb)

TypeError: '<' not supported between instances of 'int' and 'str'

In [36]:
dictbox={'name':'쿼카', 'level':3}
dictbox

{'name': '쿼카', 'level': 3}

In [38]:
type(dictbox)

dict

In [40]:
dictbox['level']

3

In [41]:
dictbox['level'] = 100
dictbox

{'name': '쿼카', 'level': 100}

In [42]:
dictbox.keys()

dict_keys(['name', 'level'])

In [43]:
dictbox.values()

dict_values(['쿼카', 100])

In [44]:
dictbox.items()

dict_items([('name', '쿼카'), ('level', 100)])

In [46]:
listbox = [4,5,6,7,8]
sum(listbox)

listbox = [True, True, False]
sum(listbox)

2

In [47]:
max(listbox)

True

In [48]:
min(listbox)

False

In [51]:
round(0.345, 2)

0.34

In [52]:
text = '가 나 다 라 마 바 사'
text.replace('가', '고')

'고 나 다 라 마 바 사'

In [54]:
listbox = ['길벗','시나공','빅분기', '분석']

for i in listbox:
    print(i)
    
for index, item in enumerate(listbox):
    print(index, item)

길벗
시나공
빅분기
분석
0 길벗
1 시나공
2 빅분기
3 분석

In [56]:
person_info = {
    'name': '사랑',
    'age': 20,
    'city': '부산',
    'hobbies': ['연애', '수영', '코딩']
}

for keyname, valuecontent in zip(person_info.keys(), person_info.values()):
    print(f"{keyname}: {valuecontent}")

name: 사랑
age: 20
city: 부산
hobbies: ['연애', '수영', '코딩']

In [5]:
# Q
listbox = ["감사", "행복", "사랑", "성공", "긍정", "변화", "성장", "희망"]

# 1
print(len(listbox))
# 2
print(listbox[0])
# 3
print(listbox[-1])
# 4
print(listbox[:3])
# 5
print(listbox[-2])
# 6
print(listbox[1:3])
# 7
listbox[listbox.index('변화')] = '웃음'
print(listbox)

8
감사
희망
['감사', '행복', '사랑']
성장
['행복', '사랑']
['감사', '행복', '사랑', '성공', '긍정', '웃음', '성장', '희망']

In [6]:
# Q
cols = ['name', 'age', 'phone']
for i in cols:
    print(i)

name
age
phone

In [9]:
# Q
listbox = [15, 46, 78, 24, 56]

def max_sub_min(listbox):
    return max(listbox) - min(listbox)

max_sub_min(listbox)

63

In [12]:
# Q
str_data = "여러분의 합격을 응원합니다!"

def change_str(str_data):
    if '여러분' in str_data: return str_data.replace('여러분', '당신')
    else: print("문자열에 '여러분'이 없습니다.")
    
change_str(str_data)

'당신의 합격을 응원합니다!'