Ex2 - Getting and Knowing your Data
- [원본 튜토리얼 영상](http://youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2)
- 인터넷에서 바로 데이터 불러와서 활용하기

In [81]:
# 라이브러리
import pandas as pd
import numpy as np
from IPython.display import display

# tsv 데이터 링크(Chipotle Mexican Grill에서 판매된 주문 데이터)
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

In [104]:
# 처음 10개 확인
display(chipo.head(10))
print('-'*50)

# 전체 데이터 개수 shape로 확인하기
print(chipo.shape)
print("전체 행 개수: ", chipo.shape[0])
print("전체 열 개수: ", chipo.shape[1])
print('-'*50)

# 전체 데이터 개수 info로 확인하기
print(chipo.info())

# order_id: 주문 번호(중복값 있음)
# quantity: 수량
# item_name: 주문 메뉴
# choice_description: 주문 옵션
# item_price: 주문 가격

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

--------------------------------------------------
(4622, 5)
전체 행 개수:  4622
전체 열 개수:  5
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [105]:
# 모든 행 이름 확인하기
print(chipo.columns)
print('-'*50)

# 데이터셋 인덱스 확인하기
print(chipo.index)
# RangeIndex(start=0 : 인덱스가 0부터 시작
#        , stop=4622 : 인덱스가 4622에서 끝남 (4622는 포함 안 됨, 0~4621까지임)
#           , step=1 : 인덱스가 1씩 증가
# )

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
--------------------------------------------------
RangeIndex(start=0, stop=4622, step=1)

In [106]:
# 가장 많이 주문한 상품 알아보기 - item_name 기준

# 아이템별로 그룹화
groupby_item = chipo.groupby('item_name')
# 각 아이템으로 주문된 총 수량 합산
groupby_item = groupby_item.sum()
# 정렬 진행, quantity를 기준으로 내림차
groupby_item = groupby_item.sort_values(by = ['quantity'], ascending=False)
# 데이터프레임 상단 5개 확인
display(groupby_item.head())
print('-'*50)

# 가장 많이 주문한 상품명과 횟수
print(f"가장 많이 주문한 메뉴: {groupby_item.iloc[0].name}, 횟수: {groupby_item.iloc[0].quantity}")

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
Chicken Burrito,497303,591,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49 $8.49 $10.98 $8.49 $10.98 $10.98 $8.75 $...
Chips and Guacamole,449959,506,0,$4.45 $4.45 $4.45 $4.45 $4.45 $3.99 $4.45 $3.9...
Steak Burrito,328437,386,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75 $9.25 $8.99 $11.75 $8.99 $8.99 $8.99 $8...
Canned Soft Drink,304753,351,[Coke][Sprite][Coke][Coke][Lemonade][Sprite][D...,$1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.2...

--------------------------------------------------
가장 많이 주문한 메뉴: Chicken Bowl, 횟수: 761

In [107]:
# 가장 많이 주문한 상품 알아보기 - choice_description 기준

groupby_desc = chipo.groupby('choice_description').sum().sort_values(by=['quantity'], ascending=False)
# 데이터프레임 상단 5개 확인
display(groupby_desc.head())
print('-'*50)

# 가장 많이 주문한 상품명과 횟수
print(f"가장 많이 주문한 메뉴: {groupby_desc.iloc[0].name}, 횟수: {groupby_desc.iloc[0].quantity}")

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...
[Coke],122752,143,Canned Soft DrinkCanned Soft DrinkCanned Soft ...,$1.25 $1.25 $1.25 $6.49 $1.25 $1.25 $1.25 $1.2...
[Sprite],80426,89,Canned SodaCanned SodaCanned Soft Drink6 Pack ...,$2.18 $1.09 $1.25 $6.49 $1.25 $1.25 $1.09 $1.2...
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",43088,49,Chicken BowlChicken BurritoChicken BowlChicken...,$8.75 $8.75 $8.75 $8.75 $9.25 $8.75 $8.75 $8.7...
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",36041,42,Chicken BowlChicken BowlChicken BurritoCarnita...,$17.50 $8.75 $8.75 $9.25 $8.75 $9.25 $8.75 $8....

--------------------------------------------------
가장 많이 주문한 메뉴: [Diet Coke], 횟수: 159

In [108]:
# 주문된 메뉴의 총 개수(order id와 별개)
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [138]:
# 주문 가격을 float으로 바꾸기

# chipo2 독립적으로 복사해서 지정하기
chipo_2 = chipo.copy()

# item price 타입 확인
print(f"원래 item price type: {chipo_2['item_price'].dtype}") # object는 string 타입
print(f"item price 예시: {chipo_2['item_price'][0]}")
print('-'*50)

# 람다 함수 만들어서 적용하기
dollarizer = lambda x: float(x[1:]) # 맨 앞이 $라 1부터 시작
chipo_2.item_price = chipo_2.item_price.apply(dollarizer)

# 타입 다시 확인
print(f"변환된 item price type: {chipo_2['item_price'].dtype}")
print(f"item price 예시: {chipo_2['item_price'][0]}")

원래 item price type: object
item price 예시: $2.39
--------------------------------------------------
변환된 item price type: float64
item price 예시: 2.39

In [156]:
# 다음 과정부터 가격을 float형으로 변환한 chipo_2를 사용

# 데이터셋의 전체 수익 확인
revenue = (chipo_2['quantity'] * chipo_2['item_price']).sum()
print(f"총 수익: ${revenue}")
print('-'*50)

# 주문 횟수 (order_id 기준)
orders1 = chipo_2.order_id.value_counts().count() #order_id를 기준으로 value_counts 진행하고 개수를 세는 방법
orders2 = chipo_2['order_id'].nunique() # order_id에서 중복을 제거한 개수
print(orders1, orders2)

총 수익: $39237.02
--------------------------------------------------
1834 1834

In [150]:
# 주문당 평균 금액 확인

# 주문별로 개수*금액 계산해서 revenue 행에 넣기
chipo_2['revenue'] = chipo_2['quantity'] * chipo_2['item_price']
# order_id 기준으로 그룹핑하고 같은 order_id의 값들 더하기
order_grouped = chipo_2.groupby(by=['order_id']).sum()
# order_grouped의 revenue 평균값 확인
mean_revenue1 = order_grouped['revenue'].mean()
print(f"mean_revenue1: ${mean_revenue1}")
print('-'*50)

# 한 줄로 축약
mean_revenue2 = chipo_2.groupby(by=['order_id']).sum()['revenue'].mean()
print(f"mean_revenue2: ${mean_revenue2}")

mean_revenue1: $21.39423118865867
--------------------------------------------------
mean_revenue2: $21.39423118865867

In [155]:
# 판매된 메뉴는 총 몇 종류?

# 첫 번째 방법 
print(chipo.item_name.value_counts().count())
# 두 번째 방법
print(chipo['item_name'].nunique())

50
50