Filtering and Sorting Data
* chipo 데이터 다시 사용

In [1]:
# 라이브러리 호출
import pandas as pd
from IPython.display import display

# 데이터 불러오기
chipo_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(chipo_url, sep = '\t')

In [152]:
# $10.00 초과의 상품은 몇 개인지

# item_price float 형으로 변환
f_item_price = [float(i[1:]) for i in chipo['item_price']]
chipo['item_price'] = f_item_price

# item_name, quantity, choice_description 에 중복값 삭제
print(f"중복값 삭제 전 행 개수: {chipo.shape[0]}")
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])
print(f"중복값 삭제 후 행 개수: {chipo_filtered.shape[0]}")

# quantity가 1인 데이터만 남기기
chipo_one_prod = chipo_filtered[chipo_filtered['quantity'] == 1]
print(f"quantity 1인 행 개수: {chipo_one_prod.shape[0]}")

중복값 삭제 전 행 개수: 4622
중복값 삭제 후 행 개수: 1949
quantity 1인 행 개수: 1806

In [153]:
# 방법1
# 표로 확인
display(chipo_one_prod[chipo_one_prod['item_price']>10])
# item_name만 반환(중복 제외)
print(list(chipo_one_prod[chipo_one_prod['item_price']>10]['item_name'].unique()))
print(len(chipo_one_prod[chipo_one_prod['item_price']>10]['item_name'].unique()))
print('-'*50)

# 방법2
# 표로 확인
display(chipo_one_prod.query('item_price > 10'))
# item_name만 반환(중복 제외)
print(list(chipo_one_prod.query('item_price > 10')['item_name'].unique()))
print(len(chipo_one_prod.query('item_price > 10')['item_name'].unique()))

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito', 'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl', 'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito', 'Carnitas Bowl', 'Barbacoa Burrito', 'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chicken Salad', 'Chicken Crispy Tacos', 'Steak Salad Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos', 'Carnitas Salad Bowl', 'Chicken Salad Bowl', 'Barbacoa Salad Bowl', 'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos']
25
--------------------------------------------------

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito', 'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl', 'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito', 'Carnitas Bowl', 'Barbacoa Burrito', 'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chicken Salad', 'Chicken Crispy Tacos', 'Steak Salad Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos', 'Carnitas Salad Bowl', 'Chicken Salad Bowl', 'Barbacoa Salad Bowl', 'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos']
25

In [192]:
# 각 아이템의 가격을 확인하기 행은 item_name, item_price 행만 남길 것

# quantity가 1인 것만 남기기
chipo_q_1 = chipo[chipo['quantity']==1]
# item_name, choice_description 기준으로 중복 제거
chipo_unique = chipo_q_1.drop_duplicates(['item_name','choice_description'])
# 아이템 이름만 미리 뽑아놓기
chipo_pro_name_list = list(chipo_unique['item_name'].unique())
print(len(chipo_pro_name_list), chipo_pro_name_list)
print('-'*50)
# chipo_unique item_name, choice_description만 남기고, 인덱스 정리하기
chipo_unique = chipo_unique[['item_name', 'item_price']].reset_index(drop=True)

# 각 상품별로 돌면서 가장 저렴한 가격의 index 저장
pro_index_list = []
for pro_name in chipo_pro_name_list:
    # display(chipo_unique[chipo_unique['item_name']==pro_name].sort_values(by='item_price'))
    target_index = chipo_unique[chipo_unique['item_name']==pro_name].sort_values(by='item_price').iloc[0].name
    pro_index_list.append(target_index)
# 저장한 index만 남기고 가격 내림차 정렬
chipo_filtered = chipo_unique.iloc[pro_index_list].sort_values(by='item_price').reset_index(drop=True)

# 상품 개수, 가격정보, 표 확인
print(f"총 상품 종류: {chipo_filtered.shape[0]}\n최저가 상품: {chipo_filtered.iloc[0][0]} {chipo_filtered.iloc[0][1]}\n최고가 상품: {chipo_filtered.iloc[-1][0]} {chipo_filtered.iloc[-1][1]}")
display(chipo_filtered)

50 ['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar', 'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl', 'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos', 'Chips and Guacamole', 'Chicken Crispy Tacos', 'Chicken Soft Tacos', 'Chicken Burrito', 'Barbacoa Burrito', 'Carnitas Burrito', 'Canned Soda', 'Carnitas Bowl', 'Bottled Water', 'Chips and Tomatillo Green Chili Salsa', 'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl', 'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl', 'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa', 'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos', 'Chicken Salad', 'Canned Soft Drink', '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad Bowl', 'Steak Salad', 'Bowl', 'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad', 'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad']
--------------------------------------------------
총 상품 종류: 50
최저가 상품: Bottled Water 1.09
최고가 상품: Steak Salad Bowl 9.39

                                item_name  item_price
0                           Bottled Water        1.09
1                             Canned Soda        1.09
2                       Canned Soft Drink        1.25
3                           Side of Chips        1.69
4                                   Chips        2.15
5            Chips and Fresh Tomato Salsa        2.39
6   Chips and Tomatillo-Green Chili Salsa        2.39
7     Chips and Tomatillo-Red Chili Salsa        2.39
8      Chips and Roasted Chili-Corn Salsa        2.39
9      Chips and Roasted Chili Corn Salsa        2.95
10  Chips and Tomatillo Green Chili Salsa        2.95
11    Chips and Tomatillo Red Chili Salsa        2.95
12      Chips and Mild Fresh Tomato Salsa        3.00
13                       Nantucket Nectar        3.39
14                                   Izze        3.39
15                    Chips and Guacamole        4.45
16                      6 Pack Soft Drink        6.49
17                           Crispy Tacos        7.40
18                                Burrito        7.40
19                                  Salad        7.40
20                                   Bowl        7.40
21                           Chicken Bowl        8.19
22                          Chicken Salad        8.19
23                        Chicken Burrito        8.19
24                      Veggie Soft Tacos        8.49
25                    Veggie Crispy Tacos        8.49
26                            Veggie Bowl        8.49
27                           Veggie Salad        8.49
28                         Veggie Burrito        8.49
29                   Chicken Crispy Tacos        8.49
30                     Chicken Soft Tacos        8.49
31                          Steak Burrito        8.69
32                             Steak Bowl        8.69
33                          Barbacoa Bowl        8.69
34                       Carnitas Burrito        8.69
35                     Steak Crispy Tacos        8.69
36                            Steak Salad        8.69
37                       Barbacoa Burrito        8.69
38                      Veggie Salad Bowl        8.75
39                     Chicken Salad Bowl        8.75
40                  Barbacoa Crispy Tacos        8.99
41                       Steak Soft Tacos        8.99
42                  Carnitas Crispy Tacos        8.99
43                          Carnitas Bowl        8.99
44                    Barbacoa Soft Tacos        8.99
45                    Carnitas Soft Tacos        8.99
46                         Carnitas Salad        8.99
47                    Carnitas Salad Bowl        9.39
48                    Barbacoa Salad Bowl        9.39
49                       Steak Salad Bowl        9.39

In [193]:
# 데이터를 item_name 기준으로 정렬하기
chipo.sort_values(by='item_name', ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

In [205]:
# 금액이 가장 비싼 주문의 주문 수량 보기
display(chipo.sort_values(by='item_price', ascending=False).head(5))
chipo.sort_values(by='item_price', ascending=False).iloc[0]['quantity']

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

15

In [214]:
# veggie salad bowl은 몇개 팔렸을까
chipo[chipo['item_name'] == "Veggie Salad Bowl"]['quantity'].sum()

18

In [216]:
# Canned Soda를 1개 이상 시킨 주문은 몇 개일까
len(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)])

20