### Wind Statistics
* 데이터에 변경이 일어나면서 결측치가 있음, 여기서는 연습을 위해 데이터를 보정할 예정

* 데이터는 아래 형식을 따르고 있음
    > Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL<br>
    > 61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04<br>
    > 61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83<br>
    > 61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71<br>

    * 처음 3개 컬럼은 연도, 월, 일
    * 남은 12개는 아일랜드에 있는 12개 지역의 풍속 평균
    * 더 자세한 정보는 [여기](https://github.com/guipsamora/pandas_exercises/blob/dab909ac6fd1d7de96975ebf2136f413222460b3/06_Stats/Wind_Stats/wind.desc)

In [16]:
# 라이브러리 호출
import pandas as pd
import datetime

# 데이터 불러오기
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
# sep에 하나 이상의 공백 문자 지정 >> '\s+'
# 0,1,2 번째 열을 날짜로 파싱 >> parse_dates = [[0,1,2]]
data_df = pd.read_csv(data_url, sep='\s+', parse_dates=[[0,1,2]])

print(data_df.info())
data_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB
None

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [34]:
# 연도가 2061인 것을 수정
# 해당 데이터는 1961-1978년 동안 수집한 것으로 1978보다 큰 연도는 있을 수 없음

data_df.Yr_Mo_Dy.apply(lambda x: datetime.date(x.year-100, x.month, x.day) if x.year > 1979 else x)

0      1961-01-01
1      1961-01-02
2      1961-01-03
3      1961-01-04
4      1961-01-05
          ...
6569   1978-12-27
6570   1978-12-28
6571   1978-12-29
6572   1978-12-30
6573   1978-12-31
Name: Yr_Mo_Dy, Length: 6574, dtype: datetime64[ns]

1