In [2]:
import pandas as pd

* [출처](https://www.kaggle.com/code/agileteam/3rd-type1-2-3-1-2)
* Q. 결측치 데이터(행)을 제거하고, 앞에서부터 60% 데이터만 활용해, 'f1' 컬럼 3사분위 값을 구하시오
* t1-data1

In [32]:
d1_path = 'C:/Engineer_Big_Data_Analysis/DATAS/kaggle_BDCKR/t1-data1.csv'
d1_df = pd.read_csv(d1_path)
print(d1_df.shape)
d1_df

(90, 7)

      id   age city    f1  f2    f4         f5
0   id01   2.0   서울   NaN   0  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  INFP  52.667078
4   id05  24.0   서울  85.0   2  ISFJ  29.269869
..   ...   ...  ...   ...  ..   ...        ...
85  id86   2.0   경기   NaN   0  ESTP  29.269869
86  id87  19.0   경기   NaN   1  ISFP  97.381034
87  id88  89.0   경기  75.0   0  ESTJ  60.339826
88  id89  34.0   경기  66.0   1  ENTJ  33.308999
89  id90  54.0   경기   NaN   0  ENTP  29.269869

[90 rows x 7 columns]

In [36]:
# 결측치 있는 곳 확인
print(d1_df.isna().sum())
# 결측치 버리고
d1_df.dropna(inplace=True)
# 앞에서 60%만 사용하기
d1_df = d1_df.iloc[:int(len(d1_df)*0.6), :]
# f1컬럼의 3사분위 값
d1_df.f1.quantile(0.75)

id       0
age      0
city     0
f1      29
f2       0
f4       0
f5       0
dtype: int64

77.25

* [출처](https://www.kaggle.com/code/agileteam/3rd-type1-3-3-1-3)
* Q. 결측치가 제일 큰 값의 컬럼명을 구하시오
* t1-data1

* [출처](https://www.kaggle.com/code/agileteam/3rd-type1-1-3-1-1)
* Q. 2022년 데이터 중 2022년 중앙값보다 큰 값의 데이터 수
* t1-data2