In [2]:
import pandas as pd

* [출처](https://www.kaggle.com/code/agileteam/3rd-type1-2-3-1-2)
* Q. 결측치 데이터(행)을 제거하고, 앞에서부터 60% 데이터만 활용해, 'f1' 컬럼 3사분위 값을 구하시오
* t1-data1

In [3]:
# 데이터 불러오기
d1_path = 'C:/Engineer_Big_Data_Analysis/DATAS/kaggle_BDCKR/t1-data1.csv'
d1_df = pd.read_csv(d1_path)
print(d1_df.shape)
d1_df

(90, 7)

      id   age city    f1  f2    f4         f5
0   id01   2.0   서울   NaN   0  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  INFP  52.667078
4   id05  24.0   서울  85.0   2  ISFJ  29.269869
..   ...   ...  ...   ...  ..   ...        ...
85  id86   2.0   경기   NaN   0  ESTP  29.269869
86  id87  19.0   경기   NaN   1  ISFP  97.381034
87  id88  89.0   경기  75.0   0  ESTJ  60.339826
88  id89  34.0   경기  66.0   1  ENTJ  33.308999
89  id90  54.0   경기   NaN   0  ENTP  29.269869

[90 rows x 7 columns]

In [4]:
# 결측치 있는 곳 확인
print(d1_df.isna().sum())
# 결측치 버리고
d1_df.dropna(inplace=True)
# 앞에서 60%만 사용하기
d1_df = d1_df.iloc[:int(len(d1_df)*0.6), :]
# f1컬럼의 3사분위 값
d1_df.f1.quantile(0.75)

id       0
age      0
city     0
f1      29
f2       0
f4       0
f5       0
dtype: int64

77.25

* [출처](https://www.kaggle.com/code/agileteam/3rd-type1-3-3-1-3)
* Q. 결측치가 제일 큰 값의 컬럼명을 구하시오
* t1-data1

In [5]:
# 데이터 불러오기
d2_path = 'C:/Engineer_Big_Data_Analysis/DATAS/kaggle_BDCKR/t1-data1.csv'
d2_df = pd.read_csv(d2_path)
print(d2_df.shape)
d2_df

(90, 7)

      id   age city    f1  f2    f4         f5
0   id01   2.0   서울   NaN   0  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  INFP  52.667078
4   id05  24.0   서울  85.0   2  ISFJ  29.269869
..   ...   ...  ...   ...  ..   ...        ...
85  id86   2.0   경기   NaN   0  ESTP  29.269869
86  id87  19.0   경기   NaN   1  ISFP  97.381034
87  id88  89.0   경기  75.0   0  ESTJ  60.339826
88  id89  34.0   경기  66.0   1  ENTJ  33.308999
89  id90  54.0   경기   NaN   0  ENTP  29.269869

[90 rows x 7 columns]

In [6]:
# 결측치 확인
d2_df.isna().sum().idxmax()

'f1'

* [출처](https://www.kaggle.com/code/agileteam/3rd-type1-1-3-1-1)
* Q. 2022년 데이터 중 2022년 중앙값보다 큰 값의 데이터 수
* t1-data2

In [7]:
d3_path = 'C:/Engineer_Big_Data_Analysis/DATAS/kaggle_BDCKR/t1-data2.csv'
d3_df = pd.read_csv(d3_path)
print(d3_df.shape)
d3_df

(5, 101)

,year,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,2022년,69,37,57,70,40,75,8,67,89,...,79,56,98,21,14,25,17,10,60,17
1,2023년,52,13,22,70,92,80,8,56,17,...,62,47,59,6,25,96,69,87,28,64
2,2024년,88,44,32,55,64,8,4,2,62,...,98,95,40,59,69,71,86,53,93,64
3,2025년,80,97,15,4,74,12,100,60,47,...,30,11,2,54,9,52,51,81,78,22
4,2026년,64,66,62,56,67,80,90,24,58,...,93,15,88,67,7,82,5,61,15,63

In [10]:
# 2022년 데이터의 중앙값
# 행렬 바꾸기
d3_df_t = d3_df.T
d3_df_t.columns = d3_df_t.iloc[0]
d3_df_t = d3_df_t.iloc[1:]
display(d3_df_t)

# 2022의 중앙값
d3_df_median = d3_df_t['2022년'].median()
print(d3_df_median)

# 보다 큰 값만 반환
len(d3_df_t[d3_df_t['2022년']>d3_df_median])

year 2022년 2023년 2024년 2025년 2026년
0       69    52    88    80    64
1       37    13    44    97    66
2       57    22    32    15    62
3       70    70    55     4    56
4       40    92    64    74    67
..     ...   ...   ...   ...   ...
95      25    96    71    52    82
96      17    69    86    51     5
97      10    87    53    81    61
98      60    28    93    78    15
99      17    64    64    22    63

[100 rows x 5 columns]

54.5

50