* [원본 출처](https://www.kaggle.com/code/agileteam/4th-type1-python)

In [6]:
# 라이브러리 호출
import pandas as pd

In [7]:
# 1-1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력
data1_path = "C:/Engineer_Big_Data_Analysis/DATAS/kaggle_BDCKR/basic1.csv"
df1 = pd.read_csv(data1_path)
print(df1.shape)
df1.head(3)

(100, 8)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

In [10]:
int(df1.age.quantile(0.75) - df1.age.quantile(0.25))

50

In [11]:
# 1-2.(loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type 컬럼이 'video'인 데이터의 갯수
data2_path = "C:/Engineer_Big_Data_Analysis/DATAS/kaggle_BDCKR/fb.csv"
df2 = pd.read_csv(data2_path)
print(df2.shape)
df2.head(3)

(7050, 11)

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
0,1,video,529,512,262,432,92,3,1,1,0
1,2,photo,150,0,0,150,0,0,0,0,0
2,3,video,227,236,57,204,21,1,1,0,0

In [19]:
# (loves반응+wows반응)/(reactions반응) 비율 열 추가
df2['lovewow_rate'] = (df2['loves'] + df2['wows']) / df2['reactions']
display(df2.head(3))
#  0.4보다 크고 0.5보다 작으면서, type 컬럼이 'video'인 데이터의 갯수
len(df2[(df2['lovewow_rate']>0.4)&(df2['lovewow_rate']<0.5)&(df2['type']=='video')])

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys,lovewow_rate
0,1,video,529,512,262,432,92,3,1,1,0,0.179584
1,2,photo,150,0,0,150,0,0,0,0,0,0.000000
2,3,video,227,236,57,204,21,1,1,0,0,0.096916

90

In [22]:
# 1-3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수
data3_path = "C:/Engineer_Big_Data_Analysis/DATAS/kaggle_BDCKR/nf.csv"
df3 = pd.read_csv(data3_path)
print(df3.shape)
df3.head(3)

(8807, 11)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."

In [56]:
# date_added에서 연도-월만 뺀 열 추가
df3['year_month'] = df3['date_added'].apply(lambda x: f"{pd.to_datetime(x).year}-{pd.to_datetime(x).month}")
display(df3.head(3))

# year_month 가 '2018-1'이면서 country가 'United Kingdom'인 데이터 갯수
len(df3[(df3['year_month']=='2018-1')&(df3['country']=='United Kingdom')])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year_month
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,2021-9
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",2021-9
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",2021-9

6

In [81]:
# (추가 문제) 4. 그런데 만약 'country'컬럼에 대소문자 함께 있고, 띄어쓰기가 있는 것도 있고 없는 것도 있다면?
# country를 모두 소문자로 바꾸고, 띄어쓰기도 없애기
df3['country_2'] = df3['country'].apply(lambda x:str(x).lower().replace(' ',''))
# year_month 가 '2018-1'이면서 country_2 'United Kingdom'인 데이터 갯수
len(df3[(df3['year_month']=='2018-1')&(df3['country_2']=='unitedkingdom')])

6