1. 각 피드백 중에서 가장 긴 피드백을 작성한 UserID를 찾고 해당 UserID가 주문을 몇 번 했는지 구하시오
2. 주어진 데이터에서 '제품'이라는 단어가 가장 많이 포함된 카테고리(그룹)을 찾고, 해당 카테고리에 속한 피드백들의 평균 배송 시간(분)을 구하시오.
   
* [원본 출처](https://www.kaggle.com/code/agileteam/t1-35-fb-py)

In [4]:
import pandas as pd
df = pd.read_csv("C:\Engineer_Big_Data_Analysis\DATAS\kaggle_BDCKR\e-commerce.csv")
print(df.shape)
df.head()

(30, 6)

,Feedback,Category,OrderDate,ArrivalDate,UserID,ProductID
0,제품이 실용적입니다,가격,2022-11-23 02:00:00,2022-12-01 17:00:00,13,132
1,고객 서비스가 탁월합니다,배송,2022-02-21 05:00:00,2022-02-23 06:00:00,16,165
2,제품이 견고합니다,배송,2022-01-19 18:00:00,2022-01-29 03:00:00,1,109
3,가격 경쟁력이 뛰어납니다,서비스,2022-01-01 19:00:00,2022-01-10 16:00:00,4,157
4,제품의 성능이 우수합니다,품질,2022-10-29 07:00:00,2022-11-03 10:00:00,4,132

In [18]:
# 1. 가장 긴 피드백을 작성한 UserID가 주문한 횟수

# 가장 긴 피드백이 작성된 index 찾고 UserId반환
target_userid = df.loc[df.Feedback.apply(lambda x:len(x)).idxmax(), 'UserID']
print(target_userid)
# target_userid가 같은 행의 개수 세기
len(df[df['UserID']==target_userid])

8

3

In [45]:
# 주어진 데이터에서 '제품'이라는 단어가 가장 많이 포함된 카테고리(그룹)을 찾고, 해당 카테고리에 속한 피드백들의 평균 배송 시간(분)을 구하시오.

# 제품 단어를 출현 횟수 열 만들기
df['제품횟수'] = df.Feedback.apply(lambda x:x.count('제품'))
display(df.head(3))
print('-'*50)

# 카테고리로 그룹핑하고 sum()
target_cat = df.groupby('Category').제품횟수.sum().idxmax()
print(target_cat)
print('-'*50)

# 해당 카테고리의 평균 배송 시간(분)구하기
target_df = df[df['Category']==target_cat].reset_index(drop=True)
display(target_df.head(3))
# 배송 시간(분) 열 만들기
target_df['DeliMinute'] = (pd.to_datetime(target_df['ArrivalDate']) - pd.to_datetime(target_df['OrderDate'])).dt.total_seconds() / 60
display(target_df.head(3))
# DeliMinute의 평균값
target_df['DeliMinute'].mean()

,Feedback,Category,OrderDate,ArrivalDate,UserID,ProductID,제품횟수
0,제품이 실용적입니다,가격,2022-11-23 02:00:00,2022-12-01 17:00:00,13,132,1
1,고객 서비스가 탁월합니다,배송,2022-02-21 05:00:00,2022-02-23 06:00:00,16,165,0
2,제품이 견고합니다,배송,2022-01-19 18:00:00,2022-01-29 03:00:00,1,109,1

--------------------------------------------------
서비스
--------------------------------------------------

,Feedback,Category,OrderDate,ArrivalDate,UserID,ProductID,제품횟수
0,가격 경쟁력이 뛰어납니다,서비스,2022-01-01 19:00:00,2022-01-10 16:00:00,4,157,0
1,매장의 분위기가 좋았습니다,서비스,2022-04-25 04:00:00,2022-04-30 08:00:00,8,131,0
2,고객 응대가 친절했습니다,서비스,2022-08-07 07:00:00,2022-08-17 03:00:00,19,123,0

,Feedback,Category,OrderDate,ArrivalDate,UserID,ProductID,제품횟수,DeliMinute
0,가격 경쟁력이 뛰어납니다,서비스,2022-01-01 19:00:00,2022-01-10 16:00:00,4,157,0,12780.0
1,매장의 분위기가 좋았습니다,서비스,2022-04-25 04:00:00,2022-04-30 08:00:00,8,131,0,7440.0
2,고객 응대가 친절했습니다,서비스,2022-08-07 07:00:00,2022-08-17 03:00:00,19,123,0,14160.0

9048.75