**PART 01** 파이썬 프로그래밍

> **CHAPTER 01** 파이썬 프로그래밍 기초
> >**01 파이썬(Python) 개요**

In [ ]:
print("첫번째 파이썬 프로그래밍")

첫번째 파이썬 프로그래밍

>>**02 변수, 데이터타입, 연산자**

In [ ]:
a = 1         # 변수 a의 값은 1
print(a)      # print(a)의 결과로 1이 출력

1

In [ ]:
b = 5         # 변수 b의 값은 5
a = b         # 변수 a에 변수 b의 값을 대입
print(a)      # 결과로 5가 출력

5

In [ ]:
a = 1         # a, b는 정수형 변수
b = 5
c = 3.3       # c, d는 실수형 변수
d = 0.5
print(a, b, c, d)

1 5 3.3 0.5

In [ ]:
a = 10
b = 5
c = 3
print(a+b, a-b, a*b, a/b)     # 10+5→15, 10-5→5, 10*5→50, 10/5→2.0
print(a**c, a//c, a%c)        # 10**3→1000, 10//3→3(몫), 10%3→1(나머지)

15 5 50 2.0
1000 3 1

In [ ]:
str1 = "python"
str2 = "programming"
print(str1+str2)          # +는 두 개의 문자열을 연결
print(str1*2)             # *는 숫자만큼 문자열을 반복해서 연결

pythonprogramming
pythonpython

In [ ]:
str = "python programming"
print(str[0], str[1], str[10])    # str[0]은 첫번째 문자, str[10]은 11번째문자
print(str[0:4])                   # str[0:4]는 1~4번째 문자를 추출
print(str[5:9])                   # str[5:9]는 6~9번째 문자를 추출

p y g
pyth
n pr

In [ ]:
print("오늘은 %d일 입니다." %13)
print("오늘은 %s일 입니다." %"수요일")
print("지금 온도는 %f도 입니다." %32.7)
print("지금 온도는 %0.2f도 입니다." %32.7)    # 소수점 2번째 자리까지 출력

오늘은 13일 입니다.
오늘은 수요일일 입니다.
지금 온도는 32.700000도 입니다.
지금 온도는 32.70도 입니다.

 > >**03 조건문과 반복문**

In [ ]:
a = 10
# a>0는 참이므로 if문 내의 문장을 실행
if (a > 0) :
    print("a는 양의 정수입니다.")

a는 양의 정수입니다.

In [ ]:
# a<0은 거짓이므로 if문 내의 문장을 실행하지 않고, if문 다음 문장 print(a)를 실행
if (a < 0) :
    print("a는 음의 정수입니다.")
print(a)

10

In [ ]:
a = -10
# a가 0보다 크면 if 아래 문장을 실행, 작거나 같으면 else 아래 문장을 실행
# a = -10 이므로, else 다음 문장인 print(“a는 음의 정수입니다.”)를 실행
if (a > 0) :
    print("a는 %d입니다." %a)
    print("a는 양의 정수입니다.")
else :
    print("a는 %d입니다." %a)
    print("a는 음의 정수입니다.")
# 문장이 2개 이상일 경우에도 들여쓰기만 정확히 맞춰주면 됨

a는 -10입니다.
a는 음의 정수입니다.

In [ ]:
a = -10
# a>10은 거짓이므로 elif 조건인 a==0을 검사하고, 이 조건도 거짓이므로 else 다음 문장을 실행
if (a > 0) :
    print("a는 양의 정수입니다.")
elif (a == 0) :
    print("a는 0입니다.")
else :
    print("a는 음의 정수입니다.")

a는 음의 정수입니다.

In [ ]:
# 사용자로부터 숫자를 입력 받아서 변수 a, b, c에 대입
a = int(input("첫번째 수를 입력하세요"))
b = int(input("두번째 수를 입력하세요"))
c = int(input("세번째 수를 입력하세요"))
# a와 b를 비교해서 더 큰 값을 big에 대입
if (a >= b) :
    big = a
else :
    big = b
# c와 big을 비교해서 더 큰 값을 출력
if (c >= big) :
    print("가장 큰 수는 %d입니다." %c)
else :
    print("가장 큰 수는 %d입니다." %big)

첫번째 수를 입력하세요20
두번째 수를 입력하세요50
세번째 수를 입력하세요30
가장 큰 수는 50입니다.

In [ ]:
for i in range(5) :             # 5번을 반복해서 실행
    print("python programming")

python programming
python programming
python programming
python programming
python programming

In [ ]:
sum = 0
# range(1,6)은 1,2,3,4,5의 5개 숫자를 생성
for i in range(1, 6) :                            # 변수 i에 1,2,3,4,5를 대입하면서 반복 실행
    sum = sum + i
    print("i의 값 : %d, 합계 : %d" %(i, sum))     # 2개 이상의 변수를 문자열 포맷팅하기 위해 괄호() 묶음

i의 값 : 1, 합계 : 1
i의 값 : 2, 합계 : 3
i의 값 : 3, 합계 : 6
i의 값 : 4, 합계 : 10
i의 값 : 5, 합계 : 15

In [ ]:
# range(1, 10, 2)는 1부터 시작하여 10까지 2씩 증가하는 숫자(1, 3, 5, 7, 9)를 생성
for i in range(1, 10, 2) :
    print(i, end=' ')      # end=' '는 결과값을 하나의 줄에서 공백(' ')으로 구분하여 출력하라는 의미

1 3 5 7 9

In [ ]:
for x in "python" :       # range 함수 대신에 문자열, 리스트 등도 가능
    print(x)              # "python"의 6개 문자를 반복해서 출력

p
y
t
h
o
n

In [ ]:
# for문 내에 for문 중첩
# i가 1, 2, 3, 4로 반복되는 동안 각각의 i에 대해서 j도 1, 2, 3, 4로 반복됨
for i in range(1, 5) :
    for j in range(1, 5) :
        print(i * j, end = ' ')     # print(i * j)는 16번 실행됨
    print()                         # i가 바뀌는 시점에 줄바꿈

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [ ]:
for i in range(2,10) :                            # i는 2부터 9까지 반복
    for j in range(1,10) :                        # j는 1부터 9까지 반복
        print("%d*%d=%d" %(i,j,i*j), end=' ')     # 2*1=2로 시작하여 같은 형태 반복
    print()                                       # 줄바꿈

2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
i = 1
while i <= 5 :                    # i는 1부터 시작해서 5까지 5번 반복
    print("python programming")
    i = i + 1                     # i 값을 증가, 이 구문이 없으면 무한반복됨

python programming
python programming
python programming
python programming
python programming

In [ ]:
sum = 0
i = 1
while i <= 5 :                                    # 변수 i 값을 확인하며 반복 실행, i 값이 5가 되었을 때 멈춤
    sum = sum + i
    print("i의 값 : %d, 합계 : %d" %(i, sum))     # 변수 i, sum을 문자열 포맷팅 하기 위해 괄호()로 묶음
    i = i + 1                                     # 변수 i를 1씩 증가시킴

i의 값 : 1, 합계 : 1
i의 값 : 2, 합계 : 3
i의 값 : 3, 합계 : 6
i의 값 : 4, 합계 : 10
i의 값 : 5, 합계 : 15

In [ ]:
i = 0
s = "python programming"

while i <= (len(s) - 1) :       # i가 (문자열길이-1)보다 작을 경우 반복
    print(s[i], end = ' ')      # s[i]는 문자열에서 i번째 위치의 문자를 가리킴 (문자열 인덱스는 0부터 시작)
    i = i + 1                   # 문자열을 구성하는 첫번째 문자부터 마지막 문자까지 한 문자씩 출력

p y t h o n   p r o g r a m m i n g

In [ ]:
i = 0
while i < 100 :             # i가 100보다 작은 경우 반복
    print(i, end = ' ')     # i의 값 출력
    i = i + 1               # i의 값을 1 증가
    if i == 10 :            # i의 값이 10이면 break로 while 문을 중지함
        break

0 1 2 3 4 5 6 7 8 9

In [ ]:
a = [70, 60, 55, 95, 80, 70, 85, 47, 83, 78]
sum = 0
avg = 0

for x in a :
    sum = sum + x

avg = sum / 10
print("평균은 %f입니다." %avg)

평균은 72.300000입니다.

In [ ]:
a = [70, 60, 55, 95, 80, 70, 85, 47, 83, 78]
sum = 0
avg = 0

i = 0
while i < 10 :
    sum = sum + a[i]
    i = i + 1
avg = sum / 10
print("평균은 %f입니다." %avg)

평균은 72.300000입니다.

 > >**04 리스트, 튜플, 딕셔너리**

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)
print(a[0], a[-1], a[0] + a[2])

[1, 2, 3, 4, 5]
1 5 4

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)
print(a * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a = ['a', 'b', 'c']

a.append('d') # 원소 ‘d’를 리스트 마지막에 추가
print(a)

a.insert(1, 'aa') # 원소 ‘aa’를 리스트의 2번째 위치(인덱스 1)에 추가
print(a)

['a', 'b', 'c', 'd']
['a', 'aa', 'b', 'c', 'd']

In [ ]:
a = ['a', 'b', 'c']
a[2] = 'f'
print(a)

['a', 'b', 'f']

In [ ]:
a = ['a', 'b', 'c']
del a[1]
print(a)

['a', 'c']

In [ ]:
a = ['a', 'b', 'c', 'd', 'e']
a.reverse()
print(a)
print(a.index('b'))
a.sort()
print(a)
print(a.index('b'))

['e', 'd', 'c', 'b', 'a']
3
['a', 'b', 'c', 'd', 'e']
1

In [ ]:
a = [10, 20, 30, 40, 30, 20, 50]
print(a.count(30))        # 30의 개수 출력
a.remove(30)              # 첫번째 30을 제거
print(a)

2
[10, 20, 40, 30, 20, 50]

In [ ]:
a = ['a', 'b', 'c']
for x in a :
    print(x, end = ' ')

a b c

In [ ]:
a = ['a', 'b', 'c']
i = 0
while i < len(a) :
    print(a[i], end = ' ')
    i = i + 1

a b c

In [ ]:
scores = [[70, 75], [80, 90], [100, 90], [95, 85], [82, 92]]

print(scores[0][0]) # 첫번째 인덱스가 0인 원소 [70, 75] 중 인덱스 0인 원소: 70
print(scores[0][1]) # 첫번째 인덱스가 0인 원소 [70, 75] 중 인덱스 1인 원소: 75
print(scores[2][0]) # 첫번째 인덱스가 2인 원소 [1000, 90] 중 인덱스 0인 원소: 100

70
75
100

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0])     # 리스트와 똑같이 인덱스 사용
print(t[2: ])   # 튜플 슬라이싱
print(t * 2)    # 튜플 곱하기
print(len(t))   # 튜플 길이 구하기

a
('c', 'd', 'e')
('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')
5

In [ ]:
dic1 = {1:'a', 2:'b', 3:'c'}
dic2 = {'name':'python', 'age':'30', 'job':'programming'}
print(dic1[1])        # 키가 1인 원소의 값을 읽어 옴
print(dic2['name'])   # 키가 'name'인 원소의 값을 읽어 옴

a
python

In [ ]:
dic1 = {1:'a', 2:'b', 3:'c'}
dic2 = {'name':'python', 'age':'30', 'job':'programming'}
dic1[5] = 'f' # 키가 5인 원소 'f'를 추가
print(dic1)
dic2['contact'] = 'python.org' # 키가 'contact'인 원소 'python.org'를 추가
print(dic2)

{1: 'a', 2: 'b', 3: 'c', 5: 'f'}
{'name': 'python', 'age': '30', 'job': 'programming', 'contact': 'python.org'}

In [ ]:
dic1 = {1:'a', 2:'b', 3:'c'}
dic2 = {'name':'python', 'age':'30', 'job':'programming'}
print(dic1.keys())          # 딕셔너리 dic1의 key를 dict_keys 객체로 반환
print(dic2.values())        # 딕셔너리 dic2의 value를 dict_values 객체로 반환
print(dic1.items())         # 딕셔너리 dic1의 key-value쌍을 dict_items 객체로 반환
if 'age' in dic2 :          # 'age' key가 dic2에 있으면 'age'에 대응하는 값을 출력
    print(dic2.get('age'))

dict_keys([1, 2, 3])
dict_values(['python', '30', 'programming'])
dict_items([(1, 'a'), (2, 'b'), (3, 'c')])
30

In [ ]:
id_pass = {'cuk':'12ab', 'python':'11aa', 'bigdata':'cc21'}

id = input("사용자 아이디를 입력하세요 : ")
password = input("비밀번호를 입력하세요 : ")

if id in id_pass : # 입력받은 아이디가 있으면
    if password == id_pass.get(id) : # 비밀번호 비교
        print("아이디와 비밀번호가 맞습니다.")
    else :
        print("비밀번호가 틀립니다.")
else : # 일치하는 아이디가 없으면
    print("아이디가 존재하지 않습니다.") # 메시지 출력

사용자 아이디를 입력하세요 : cuk
비밀번호를 입력하세요 : 12ab
아이디와 비밀번호가 맞습니다.

In [ ]:
def sum(x, y) :
    return x + y

In [ ]:
def f1(x) :
    if x % 2 == 0 :         # 2로 나눈 나머지가 0이면(짝수이면)
        return("짝수")      # "짝수"를 반환
    else :
        return("홀수")              # 0이 아니면, "홀수"를 반환

x = int(input("숫자를 입력하세요 : "))
print("%d은 %s입니다." %(x, f1(x)))

숫자를 입력하세요 : 7
7은 홀수입니다.

In [ ]:
def f2(x, y) :
    mul = x * y
    return mul
# 숫자를 입력받을 때에는 자료형을 정수형으로 변환
x = int(input("첫번째 숫자를 입력하세요 : "))
y = int(input("두번째 숫자를 입력하세요 : "))
print("두 수의 곱은 %d입니다." %f2(x,y))

첫번째 숫자를 입력하세요 : 4
두번째 숫자를 입력하세요 : 5
두 수의 곱은 20입니다.