**PART 06** 기출문제

>**CHAPTER 01** 기출문제 6회
> >**01 제1유형**

In [1]:
import pandas as pd

# csv 파일 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_1.csv')
print(df)

     구급대                 출동시간                 도착시간
0   구급대8  2020-07-10 06:11:45  2020-07-10 06:52:06
1   구급대9  2020-07-13 06:12:21  2020-07-13 07:58:59
2   구급대1  2020-07-06 06:12:29  2020-07-06 07:51:55
3   구급대5  2020-07-21 06:11:41  2020-07-21 08:08:36
4   구급대1  2020-07-29 06:12:00  2020-07-29 07:24:21
..   ...                  ...                  ...
95  구급대3  2020-07-06 06:12:27  2020-07-06 06:50:09
96  구급대6  2020-07-17 06:12:02  2020-07-17 06:16:49
97  구급대7  2020-07-12 06:12:22  2020-07-12 07:32:26
98  구급대6  2020-07-08 06:12:05  2020-07-08 06:41:31
99  구급대8  2020-07-10 06:12:16  2020-07-10 06:30:46

[100 rows x 3 columns]

In [2]:
# 데이터 타입 확인
df.info()

# 데이터 타입 변경
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구급대     100 non-null    object
 1   출동시간    100 non-null    object
 2   도착시간    100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [3]:
# 도착시간과 출동시간의 차이(분)
df['이동시간'] = df['도착시간'] - df['출동시간']
df['이동시간'] = df['이동시간'].dt.total_seconds() / 60
print(df)

     구급대                출동시간                도착시간        이동시간
0   구급대8 2020-07-10 06:11:45 2020-07-10 06:52:06   40.350000
1   구급대9 2020-07-13 06:12:21 2020-07-13 07:58:59  106.633333
2   구급대1 2020-07-06 06:12:29 2020-07-06 07:51:55   99.433333
3   구급대5 2020-07-21 06:11:41 2020-07-21 08:08:36  116.916667
4   구급대1 2020-07-29 06:12:00 2020-07-29 07:24:21   72.350000
..   ...                 ...                 ...         ...
95  구급대3 2020-07-06 06:12:27 2020-07-06 06:50:09   37.700000
96  구급대6 2020-07-17 06:12:02 2020-07-17 06:16:49    4.783333
97  구급대7 2020-07-12 06:12:22 2020-07-12 07:32:26   80.066667
98  구급대6 2020-07-08 06:12:05 2020-07-08 06:41:31   29.433333
99  구급대8 2020-07-10 06:12:16 2020-07-10 06:30:46   18.500000

[100 rows x 4 columns]

In [4]:
# 구급대별 이동시간의 평균
group_mean = df.groupby('구급대')['이동시간'].mean()
print(group_mean)

구급대
구급대1     54.952381
구급대10    42.365000
구급대2     60.228571
구급대3     43.490741
구급대4     49.136667
구급대5     61.250000
구급대6     41.764583
구급대7     83.337037
구급대8     42.693750
구급대9     80.658889
Name: 이동시간, dtype: float64

In [5]:
# 이동시간이 가장 큰 값
result = round(group_mean.max())
print(result)

83

In [6]:
import pandas as pd

# csv 파일 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_2.csv')
print(df)

     대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과
0    대학교1  20   121    72     158    131    77    59
1    대학교2  31   178   139     145    137    63    90
2    대학교3  23   136   139     154    111    91    50
3    대학교4  32    72   136      67     51   133   159
4    대학교5  22    61    73      86     82    55   124
5    대학교6  32   169   172     137    173    59   128
6    대학교7  29   173   183     112    154   134   133
7    대학교8  19   141    81     101    118   151   123
8    대학교9  40   137   145     191     58    96    71
9   대학교10  34   197    93     125    116   181   150
10  대학교11  21   136   139     136    126    54    98
11  대학교12  37    72   113      53    180   118   153
12  대학교13  36   138    65     153    126   139   189
13  대학교14  34    95    89     179    164   131   167
14  대학교15  20    52    84     160     99    55   113
15  대학교16  30   129   191     117     50    77    66
16  대학교17  35   143    72      71    161    52   177
17  대학교18  31    68   187     113     57   133   113
18  대학교19  34    58   140     141    126   149    56
19  대학교20  39    91   131      66     86   146   101
20  대학교21  31    50   156     103    111    51   156
21  대학교22  26   166   178     197    120   136    62
22  대학교23  39    83   156      58    124   139   133
23  대학교24  23    71    94     178    121   157    93
24  대학교25  24    81    55     159    177    83   172
25  대학교26  19    89   127     135    112   124   121
26  대학교27  31   128    66      56     81   195   150
27  대학교28  36    60   170     188     86   133   144
28  대학교29  21    78   113     123    110    82   192
29  대학교30  27   195    63     189     98   129   129
30  대학교31  26    58   168     179    123   198    53
31  대학교32  40   152   138     108     65    64   190
32  대학교33  38   190   136      55     87   128   122
33  대학교34  29   148   108      66    114   122    93
34  대학교35  32   137    86      72     52   124   133
35  대학교36  25   159   104     177     61   158    66
36  대학교37  32   141   158      61     53   177    92
37  대학교38  40    60   141     162    102   111   110
38  대학교39  23    93    62     190    106    66   159
39  대학교40  25    61   121     184     92   185    99
40  대학교41  20    64    88      79    168    73    84
41  대학교42  37    98   152     195    161   186   143
42  대학교43  28   177   169     107    122   185    73
43  대학교44  22    87   106     167    160   101   153
44  대학교45  21   105    72     162     60   186   129
45  대학교46  22   163   189     192    121    99   183
46  대학교47  34    85    51      91     72   134    58
47  대학교48  41    57   103      59     89   184    75
48  대학교49  21   150   158     159     78    65   195
49  대학교50  42    71   102     148     96   157    82

In [7]:
# 전체 학생 수
df['학생'] = df.iloc[:, 2:].sum(axis=1)
print(df.head())

   대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과   학생
0  대학교1  20   121    72     158    131    77    59  618
1  대학교2  31   178   139     145    137    63    90  752
2  대학교3  23   136   139     154    111    91    50  681
3  대학교4  32    72   136      67     51   133   159  618
4  대학교5  22    61    73      86     82    55   124  481

In [8]:
# 교수 1인당 맡은 학생 수
df['학생/교수'] = df['학생'] / df['교수']
print(df.head())

   대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과   학생      학생/교수
0  대학교1  20   121    72     158    131    77    59  618  30.900000
1  대학교2  31   178   139     145    137    63    90  752  24.258065
2  대학교3  23   136   139     154    111    91    50  681  29.608696
3  대학교4  32    72   136      67     51   133   159  618  19.312500
4  대학교5  22    61    73      86     82    55   124  481  21.863636

In [9]:
# 가장 큰 값을 가진 대학교 교수의 수
max_id = df['학생/교수'].idxmax()
result = int(df.loc[max_id, '교수'])
print(result)

22

In [1]:
import pandas as pd

# csv 파일 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_3.csv')
print(df)

           날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명
0   2018년 01월    28   127    90    73    33   202   검찰청1
1   2018년 02월    16   137    72    80    30   180   검찰청5
2   2018년 03월    29   140    70    79    34   211   검찰청5
3   2018년 04월    10   140    90    65    31   184   검찰청1
4   2018년 05월    11   138    70    75    35   190   검찰청1
5   2018년 06월    30   128    78    74    34   216   검찰청5
6   2018년 07월    21   128    84    69    31   181   검찰청1
7   2018년 08월    26   120    86    76    33   188   검찰청5
8   2018년 09월    11   117    86    65    33   192   검찰청5
9   2018년 10월    12   117    86    67    28   200   검찰청5
10  2018년 11월    22   103    83    72    33   196   검찰청1
11  2018년 12월    28   124    83    61    27   209   검찰청2
12  2019년 01월    22   102    86    62    28   212   검찰청1
13  2019년 02월    26   138    80    61    31   183   검찰청3
14  2019년 03월    14   129    76    60    29   202   검찰청5
15  2019년 04월    26   142    83    71    33   182   검찰청1
16  2019년 05월    28   131    80    72    28   212   검찰청1
17  2019년 06월    22   104    84    72    34   201   검찰청2
18  2019년 07월    14   134    84    72    32   182   검찰청2
19  2019년 08월    27   101    71    67    31   198   검찰청1
20  2019년 09월    21   108    87    70    33   187   검찰청1
21  2019년 10월    21   114    89    61    32   212   검찰청3
22  2019년 11월    22   134    79    64    35   198   검찰청4
23  2019년 12월    21   142    77    62    35   183   검찰청3
24  2020년 01월    23   140    83    60    26   219   검찰청2
25  2020년 02월    11   111    73    60    31   211   검찰청1
26  2020년 03월    17   125    87    76    25   220   검찰청5
27  2020년 04월    10   112    78    78    28   185   검찰청3
28  2020년 05월    20   122    76    74    30   192   검찰청1
29  2020년 06월    24   139    87    77    29   192   검찰청3
30  2020년 07월    19   107    79    80    30   193   검찰청3
31  2020년 08월    27   124    81    62    29   187   검찰청5
32  2020년 09월    25   108    76    66    28   182   검찰청1
33  2020년 10월    25   134    71    75    33   189   검찰청5
34  2020년 11월    26   122    72    62    31   180   검찰청3
35  2020년 12월    22   104    87    80    31   181   검찰청5
36  2021년 01월    28   102    90    73    33   212   검찰청3
37  2021년 02월    16   173    72    80    50   150   검찰청2
38  2021년 03월    39   120    70    69    34   231   검찰청1
39  2021년 04월    26   122    83    71    33   192   검찰청4
40  2021년 05월    28   111    80    72    28   182   검찰청2
41  2021년 06월   122    94    84    92    34   211   검찰청2
42  2021년 07월    19   117    79    70    30   151   검찰청3
43  2021년 08월    27   131    81    62    29   189   검찰청5
44  2021년 09월    25   113    76    66    38   172   검찰청1
45  2021년 10월    20   115    80    77    33   138   검찰청3
46  2021년 11월    25   149    90    67    33   191   검찰청2
47  2021년 12월    21   116    87    72    38   206   검찰청4
48  2022년 01월    16   104    82    60    25   206   검찰청5
49  2022년 02월    19   145    88    60    30   204   검찰청1
50  2022년 03월    17   144    84    76    34   197   검찰청5
51  2022년 04월    14   150    85    75    31   181   검찰청5
52  2022년 05월    22   119    73    74    34   200   검찰청1
53  2022년 06월    12   131    78    65    30   201   검찰청3
54  2022년 07월    12   116    79    65    31   202   검찰청4
55  2022년 08월    25   129    77    69    33   185   검찰청2
56  2022년 09월    28   107    71    71    32   203   검찰청4
57  2022년 10월    18   130    71    77    30   206   검찰청5
58  2022년 11월    12   140    82    73    32   187   검찰청2
59  2022년 12월    26   106    87    71    28   216   검찰청5

In [2]:
# 월별 총 범죄 건수
df['총범죄건수'] = df.iloc[:, 1:-1].sum(axis=1)
print(df.head())

          날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명  총범죄건수
0  2018년 01월    28   127    90    73    33   202   검찰청1    553
1  2018년 02월    16   137    72    80    30   180   검찰청5    515
2  2018년 03월    29   140    70    79    34   211   검찰청5    563
3  2018년 04월    10   140    90    65    31   184   검찰청1    520
4  2018년 05월    11   138    70    75    35   190   검찰청1    519

In [3]:
# 연도 생성
df['연도'] = df['날짜'].str[:4]
print(df.head())

          날짜  폭력범죄  지능범죄  교통범죄  절도범죄  경제범죄  정치범죄 주요검찰청명  총범죄건수    연도
0  2018년 01월    28   127    90    73    33   202   검찰청1    553  2018
1  2018년 02월    16   137    72    80    30   180   검찰청5    515  2018
2  2018년 03월    29   140    70    79    34   211   검찰청5    563  2018
3  2018년 04월    10   140    90    65    31   184   검찰청1    520  2018
4  2018년 05월    11   138    70    75    35   190   검찰청1    519  2018

In [4]:
# 연도별 총 범죄 건수의 월평균
group_mean = df.groupby("연도")['총범죄건수'].mean()
print(group_mean)

연도
2018    527.333333
2019    520.500000
2020    514.916667
2021    528.333333
2022    524.416667
Name: 총범죄건수, dtype: float64

In [5]:
# 가장 큰 값
result = round(group_mean.max())
print(result)

528

>>**02 제2유형**

In [1]:
import pandas as pd

# csv 파일 불러오기
train_df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_train.csv')
test_df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_test.csv')

In [2]:
print(train_df)

     일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역    구분
0       7.35     7.74          4.8   Tall  52.050   L  1499.4   동구  고등학생
1       7.05     8.10          1.2   Tall  51.300   M  1624.4   서구   중학생
2       7.35     7.74          3.0   Tall  51.285   L  1499.4   동구  고등학생
3       8.58     6.66          4.8  Short  25.545  XS  1249.5   서구  초등학생
4       7.05     8.10          4.8   Tall  54.150   M  1624.4   서구   대학생
..       ...      ...          ...    ...     ...  ..     ...  ...   ...
525    10.11     5.58          4.8  Short  25.185  XS  1874.3   동구  초등학생
526     8.27     6.84          1.2   Tall  51.165   M  2124.2   동구  고등학생
527     7.35     7.74          1.2   Tall  40.995   L  1499.4   동구   중학생
528    10.11     5.58          0.0  Short  18.330  XS  1874.3   동구  유치원생
529     6.44     8.82          3.0   Tall  44.535   S  1499.4   동구  고등학생

[530 rows x 9 columns]

In [3]:
print(test_df)

     일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역
0       7.97     7.11          1.2   Tall  51.375   L  1749.3   북구
1       9.80     5.76          1.2  Short  28.710  XS  1749.3   북구
2       7.66     7.38          1.2   Tall  36.915   L  1624.4   남구
3       9.50     5.94          3.0  Short  24.045  XS  1624.4   동구
4       6.44     8.82          3.0   Tall  45.180   S  1499.4   서구
..       ...      ...          ...    ...     ...  ..     ...  ...
225     9.80     5.76          3.0  Short  30.195  XS  1749.3   북구
226     8.58     6.66          4.8  Short  25.875  XS  1249.5   동구
227     8.27     6.84          1.2   Tall  50.460   M  2124.2   남구
228     7.66     7.38          4.8   Tall  48.645   L  1624.4   북구
229     9.80     5.76          4.8  Short  33.375  XS  1749.3   남구

[230 rows x 8 columns]

In [4]:
# 학습용 데이터 – 데이터 타입 확인
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      530 non-null    float64
 1   일평균학습시간      530 non-null    float64
 2   일평균스마트폰사용시간  530 non-null    float64
 3   키            530 non-null    object
 4   몸무게          530 non-null    float64
 5   체격           530 non-null    object
 6   기초대사량        530 non-null    float64
 7   거주지역         530 non-null    object
 8   구분           530 non-null    object
dtypes: float64(5), object(4)
memory usage: 37.4+ KB

In [5]:
# 학습용 데이터 기초통계 확인
train_df.describe(include='object')

           키   체격 거주지역    구분
count    530  530  530   530
unique     2    4    4     5
top     Tall   XS   남구  유치원생
freq     277  253  145   140

In [6]:
# 학습용 데이터 결측치 확인
train_df.isnull().sum()

일평균수면시간        0
일평균학습시간        0
일평균스마트폰사용시간    0
키              0
몸무게            0
체격             0
기초대사량          0
거주지역           0
구분             0
dtype: int64

In [8]:
# 학습용 데이터의 타겟 값 분포 확인
train_df['구분'].value_counts()

유치원생    140
초등학생    121
고등학생    120
대학생      78
중학생      71
Name: 구분, dtype: int64

In [9]:
# 테스트용 데이터 데이터타입 확인
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      230 non-null    float64
 1   일평균학습시간      230 non-null    float64
 2   일평균스마트폰사용시간  230 non-null    float64
 3   키            230 non-null    object
 4   몸무게          230 non-null    float64
 5   체격           230 non-null    object
 6   기초대사량        230 non-null    float64
 7   거주지역         230 non-null    object
dtypes: float64(5), object(3)
memory usage: 14.5+ KB

In [10]:
# 테스트용 데이터 기초통계 확인
test_df.describe(include='object')

            키   체격 거주지역
count     230  230  230
unique      2    4    4
top     Short   XS   북구
freq      126  126   74

In [11]:
# 테스트용 데이터 결측치 확인
test_df.isnull().sum()

일평균수면시간        0
일평균학습시간        0
일평균스마트폰사용시간    0
키              0
몸무게            0
체격             0
기초대사량          0
거주지역           0
dtype: int64

In [12]:
# 학습용 데이터의 타겟 값 처리
targetVal = train_df.pop('구분')

In [13]:
# 학습용/테스트용 데이터의 인코딩 진행
print(train_df.shape, test_df.shape)

train_df = pd.get_dummies(train_df)
test_df = pd.get_dummies(test_df)

print(train_df.shape, test_df.shape)

(530, 8) (230, 8)
(530, 15) (230, 15)

In [14]:
from sklearn.model_selection import train_test_split
train_x, validation_x, train_y, validation_y = train_test_split(train_df, targetVal, test_size=0.2, random_state=0)
print(train_x.shape, validation_x.shape, train_y.shape, validation_y.shape)

(424, 15) (106, 15) (424,) (106,)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

# 랜덤포레스트 분류 모델 생성 및 평가
rfc = RandomForestClassifier(random_state=0)
rfc.fit(train_x, train_y)
prediction_val = rfc.predict(validation_x)
f1_score(validation_y, prediction_val, average='macro')

0.9317983948418732

In [16]:
# 테스트용 데이터를 이용하여 예측
prediction_test = rfc.predict(test_df)
result = pd.DataFrame({'pred':prediction_test})
print(result)
# result.to_csv('result.csv', index=False)

     pred
0    고등학생
1    초등학생
2     중학생
3    유치원생
4    고등학생
..    ...
225  초등학생
226  초등학생
227  고등학생
228  고등학생
229  초등학생

[230 rows x 1 columns]

>>**03 제3유형**

In [17]:
import pandas as pd

# 주어진 데이터를 입력
df = pd.DataFrame({"항암제" : ['무증상', '속쓰림', '무증상', '무증상', '조금아픔', '무증상', '조금아픔', '무증상', '조금아픔', '무증상', '아픔', '무증상', '조금아픔', '무증상', '아픔', '무증상', '속쓰림', '무증상', '아픔', '무증상']})
print(df)

     항암제
0    무증상
1    속쓰림
2    무증상
3    무증상
4   조금아픔
5    무증상
6   조금아픔
7    무증상
8   조금아픔
9    무증상
10    아픔
11   무증상
12  조금아픔
13   무증상
14    아픔
15   무증상
16   속쓰림
17   무증상
18    아픔
19   무증상

In [18]:
cnt = df['항암제'] == '무증상'
total = len(df['항암제'])
result = sum(cnt) / total
print(result)

0.55

In [19]:
df['항암제'].value_counts(normalize=True)

무증상     0.55
조금아픔    0.20
아픔      0.15
속쓰림     0.10
Name: 항암제, dtype: float64

In [20]:
df['항암제'].value_counts()

무증상     11
조금아픔     4
아픔       3
속쓰림      2
Name: 항암제, dtype: int64

In [21]:
import scipy.stats as stats

val1 = df['항암제'].value_counts().to_list()
val2 = [0.7 * total, 0.1 * total, 0.05 * total, 0.15 * total]
statistic, pvalue = stats.chisquare(val1, val2)
print(statistic)

6.976190476190475

In [22]:
stats.chisquare(val1, val2)

Power_divergenceResult(statistic=6.976190476190475, pvalue=0.07266054733847582)

In [23]:
print(pvalue)

0.07266054733847582

In [1]:
import pandas as pd

# csv 파일 불러오기
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_3_2.csv')
print(df)

     Ozone  Solar  Wind  Temp  Month  Day
0     41.0  190.0   7.4    67      5    1
1     36.0  118.0   8.0    72      5    2
2     12.0  149.0  12.6    74      5    3
3     18.0  313.0  11.5    62      5    4
4      NaN    NaN  14.3    56      5    5
..     ...    ...   ...   ...    ...  ...
148   30.0  193.0   6.9    70      9   26
149    NaN  145.0  13.2    77      9   27
150   14.0  191.0  14.3    75      9   28
151   18.0  131.0   8.0    76      9   29
152   20.0  223.0  11.5    68      9   30

[153 rows x 6 columns]

In [2]:
from statsmodels.formula.api import ols

formula = "Temp ~ Solar + Wind + Ozone" # 종속변수 Temp, 독립변수 Solar + Wind + Ozone
model = ols(formula, data=df).fit()
coef = model.params['Ozone']
print(coef)

0.1719660419798145

In [3]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   Temp   R-squared:                       0.500
Model:                            OLS   Adj. R-squared:                  0.486
Method:                 Least Squares   F-statistic:                     35.65
Date:                Mon, 06 Nov 2023   Prob (F-statistic):           4.73e-16
Time:                        01:12:59   Log-Likelihood:                -368.79
No. Observations:                 111   AIC:                             745.6
Df Residuals:                     107   BIC:                             756.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     72.4186      3.216     22.522      0.000      66.044      78.793
Solar          0.0073      0.008      0.948      0.345      -0.008       0.022
Wind          -0.3229      0.233     -1.384      0.169      -0.785       0.139
Ozone          0.1720      0.026      6.516      0.000       0.120       0.224
==============================================================================
Omnibus:                        6.409   Durbin-Watson:                   1.170
Prob(Omnibus):                  0.041   Jarque-Bera (JB):                6.615
Skew:                          -0.591   Prob(JB):                       0.0366
Kurtosis:                       2.817   Cond. No.                     1.05e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.05e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [4]:
pvalue = model.pvalues['Wind']
print(pvalue)

0.16909868598497474

In [5]:
data = pd.DataFrame({'Ozone':[45], 'Solar':[150], 'Wind':[7.5]})
prediction = model.get_prediction(data)
summary = prediction.summary_frame(alpha=0.05)
print(summary)

        mean   mean_se  mean_ci_lower  mean_ci_upper  obs_ci_lower  \
0  78.826312  0.864464      77.112614      80.540011     65.171661

   obs_ci_upper
0     92.480964