**PART 06** 기출문제

>**CHAPTER 03** 기출문제 4회
> >**01 제1유형**

In [7]:
import numpy as np
lst = [10, 11, 11.2, 13, 15.5, 18, 19.8, 20, 31, 33, 39.5, 42]

# 제1사분위수
q1 = np.percentile(lst, 25)

# 제3사분위수
q3 = np.percentile(lst, 75)

print(q1)
print(q3)

12.55
31.5

In [8]:
diff = abs(q1 - q3)
print(diff)

18.95

In [9]:
result = int(diff)
print(result)

18

In [10]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/facebook.csv')
print(df.head())

                          status_id status_type  num_reactions  num_comments  \
0  246675545449582_1649696485147474       video            529           512
1  246675545449582_1649426988507757       photo            150             0
2  246675545449582_1648730588577397       video            227           236
3  246675545449582_1648576705259452       photo            111             0
4  246675545449582_1645700502213739       photo            213             0

   num_shares  num_likes  num_loves  num_wows  num_hahas  num_sads  num_angrys
0         262        432         92         3          1         1           0
1           0        150          0         0          0         0           0
2          57        204         21         1          1         0           0
3           0        111          0         0          0         0           0
4           0        204          9         0          0         0           0

In [11]:
df['positive'] =(df['num_loves']+df['num_wows'])/df['num_reactions']
df['positive'].describe()

count    6929.000000
mean        0.049604
std         0.101727
min         0.000000
25%         0.000000
50%         0.000000
75%         0.040000
max         1.000000
Name: positive, dtype: float64

In [12]:
result_df = df[(df['positive'] >0.4) & (df['positive']<0.5) & (df['status_type']=='video')]

In [13]:
result = len(result_df)
print(result)

90

In [14]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/netflix.csv')
print(df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [15]:
print(df['date_added'])

0       September 25, 2021
1       September 24, 2021
2       September 24, 2021
3       September 24, 2021
4       September 24, 2021
               ...
8802     November 20, 2019
8803          July 1, 2019
8804      November 1, 2019
8805      January 11, 2020
8806         March 2, 2019
Name: date_added, Length: 8807, dtype: object

In [16]:
result_df = df[df['date_added'].str.contains('January')&df['date_added'].str.contains('2018')]
print(result_df.head())

     show_id     type                                              title  \
5055   s5056    Movie                               Expedition Happiness
5056   s5057    Movie  Jerry Seinfeld: I'm Telling You for the Last Time
5057   s5058  TV Show                                        Retribution
5058   s5059    Movie                                         Holy Camp!
5059   s5060    Movie                        A Futile and Stupid Gesture

                           director  \
5055                   Selima Taibi
5056                  Marty Callner
5057                            NaN
5058  Javier Ambrossi, Javier Calvo
5059                     David Wain

                                                   cast         country  \
5055                         Selima Taibi, Felix Starck         Germany
5056                                     Jerry Seinfeld   United States
5057  Georgina Campbell, Joe Dempsie, Adrian Edmonds...  United Kingdom
5058  Macarena García, Anna Castillo, Belén Cuesta, ...           Spain
5059  Will Forte, Domhnall Gleeson, Martin Mull, Joe...   United States

            date_added  release_year rating  duration  \
5055  January 31, 2018          2017  TV-PG    96 min
5056  January 30, 2018          1998  TV-14    69 min
5057  January 30, 2018          2016  TV-MA  1 Season
5058  January 29, 2018          2017  TV-MA   108 min
5059  January 26, 2018          2018  TV-MA   102 min

                                              listed_in  \
5055                Documentaries, International Movies
5056                                    Stand-Up Comedy
5057  British TV Shows, Crime TV Shows, Internationa...
5058             Comedies, Dramas, Faith & Spirituality
5059                                           Comedies

                                            description
5055  A filmmaker and his musician girlfriend attemp...
5056  Months after his classic TV sitcom ends, the l...
5057  A dark web of secrets and lies emerges when a ...
5058  In this musical comedy, two rebellious teen gi...
5059  In a brief life full of triumph and failure, "...

In [17]:
result_df_UK = result_df[result_df['country'] =='United Kingdom']
result = len(result_df_UK)
print(result)

6

>>**02 제2유형**

In [18]:
import pandas as pd

X_test = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/CS_Seg_X_test.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/CS_Seg_X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/CS_Seg_y_train.csv')

print(X_train.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare              1.0
1  466315  Female          Yes   67       Yes    Engineer              1.0
2  461735    Male          Yes   67       Yes      Lawyer              0.0
3  461319    Male          Yes   56        No      Artist              0.0
4  460156    Male           No   32       Yes  Healthcare              1.0

  Spending_Score  Family_Size
0            Low          4.0
1            Low          1.0
2           High          2.0
3        Average          2.0
4            Low          3.0

In [19]:
print(f' X_train : {X_train.isnull().sum().sum()}')
print(f' y_train : {y_train.isnull().sum().sum()}')
print(f' X_test : {X_test.isnull().sum().sum()}')

 X_train : 0
 y_train : 0
 X_test : 0

In [20]:
# 데이터 나누기
# 범주형 데이터
X_train_word = X_train[['Gender','Ever_Married','Graduated','Profession' ,'Spending_Score']]
X_test_word = X_test[['Gender','Ever_Married','Graduated','Profession' ,'Spending_Score']]
print(X_train_word)

# 수치형 데이터
X_train_num= X_train.drop(columns=['ID','Gender','Ever_Married','Graduated','Profession','Spending_Score'])
X_test_num= X_test.drop(columns=['ID','Gender','Ever_Married','Graduated','Profession','Spending_Score'])
print(X_train_num)

      Gender Ever_Married Graduated  Profession Spending_Score
0       Male           No        No  Healthcare            Low
1     Female          Yes       Yes    Engineer            Low
2       Male          Yes       Yes      Lawyer           High
3       Male          Yes        No      Artist        Average
4       Male           No       Yes  Healthcare            Low
...      ...          ...       ...         ...            ...
6713    Male          Yes       Yes      Artist           High
6714    Male           No        No   Executive            Low
6715  Female           No       Yes  Healthcare            Low
6716  Female           No       Yes  Healthcare            Low
6717    Male          Yes       Yes   Executive        Average

[6718 rows x 5 columns]
      Age  Work_Experience  Family_Size
0      22              1.0          4.0
1      67              1.0          1.0
2      67              0.0          2.0
3      56              0.0          2.0
4      32              1.0          3.0
...   ...              ...          ...
6713   41              0.0          5.0
6714   35              3.0          4.0
6715   33              1.0          1.0
6716   27              1.0          4.0
6717   37              0.0          3.0

[6718 rows x 3 columns]

In [21]:
# 데이터 스케일링
from sklearn.preprocessing import MinMaxScaler

# MinMax 스케일러 생성
scaler = MinMaxScaler()

# 선택한 특성에 MinMax 스케일러를 적용하고 데이터 변환
X_train_num_scale = scaler.fit_transform(X_train_num)
X_test_num_scale = scaler.transform(X_test_num)

# 데이터 프레임 설정
df_train_num = pd.DataFrame(X_train_num_scale , columns = X_train_num.columns)
df_test_num = pd.DataFrame(X_test_num_scale , columns = X_test_num.columns)

# 원핫 인코딩
df_train_word = pd.get_dummies(X_train_word)
df_test_word = pd.get_dummies(X_test_word)

# 데이터 결합
df_train = pd.concat([df_train_num, df_train_word], axis = 1)
df_test = pd.concat([df_test_num, df_train_word], axis = 1)
print(df_train)

           Age  Work_Experience  Family_Size  Gender_Female  Gender_Male  \
0     0.056338         0.071429        0.375              0            1
1     0.690141         0.071429        0.000              1            0
2     0.690141         0.000000        0.125              0            1
3     0.535211         0.000000        0.125              0            1
4     0.197183         0.071429        0.250              0            1
...        ...              ...          ...            ...          ...
6713  0.323944         0.000000        0.500              0            1
6714  0.239437         0.214286        0.375              0            1
6715  0.211268         0.071429        0.000              1            0
6716  0.126761         0.071429        0.375              1            0
6717  0.267606         0.000000        0.250              0            1

      Ever_Married_No  Ever_Married_Yes  Graduated_No  Graduated_Yes  \
0                   1                 0             1              0
1                   0                 1             0              1
2                   0                 1             0              1
3                   0                 1             1              0
4                   1                 0             0              1
...               ...               ...           ...            ...
6713                0                 1             0              1
6714                1                 0             1              0
6715                1                 0             0              1
6716                1                 0             0              1
6717                0                 1             0              1

      Profession_Artist  ...  Profession_Engineer  Profession_Entertainment  \
0                     0  ...                    0                         0
1                     0  ...                    1                         0
2                     0  ...                    0                         0
3                     1  ...                    0                         0
4                     0  ...                    0                         0
...                 ...  ...                  ...                       ...
6713                  1  ...                    0                         0
6714                  0  ...                    0                         0
6715                  0  ...                    0                         0
6716                  0  ...                    0                         0
6717                  0  ...                    0                         0

      Profession_Executive  Profession_Healthcare  Profession_Homemaker  \
0                        0                      1                     0
1                        0                      0                     0
2                        0                      0                     0
3                        0                      0                     0
4                        0                      1                     0
...                    ...                    ...                   ...
6713                     0                      0                     0
6714                     1                      0                     0
6715                     0                      1                     0
6716                     0                      1                     0
6717                     1                      0                     0

      Profession_Lawyer  Profession_Marketing  Spending_Score_Average  \
0                     0                     0                       0
1                     0                     0                       0
2                     1                     0                       0
3                     0                     0                       1
4                     0                     0                       0
...                 ...                   ...                     ...
6713                  0                     0                       0
6714                  0                     0                       0
6715                  0                     0                       0
6716                  0                     0                       0
6717                  0                     0                       1

      Spending_Score_High  Spending_Score_Low
0                       0                   1
1                       0                   1
2                       1                   0
3                       0                   0
4                       0                   1
...                   ...                 ...
6713                    1                   0
6714                    0                   1
6715                    0                   1
6716                    0                   1
6717                    0                   0

[6718 rows x 21 columns]

In [23]:
from pandas.core.common import random_state
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# target 값 변경
y_train[y_train['Segmentation'] =='A'] = 0
y_train[y_train['Segmentation'] =='B'] = 1
y_train[y_train['Segmentation'] =='C'] = 2
y_train[y_train['Segmentation'] =='D'] = 3

# 모델 생성
model = xgb.XGBClassifier(random_state=77)

# train, validation 데이터 설정
X_train, X_val, y_train_t, y_val = train_test_split(df_train.values, y_train['Segmentation'].values, test_size=0.3)

# 모델 학습
model.fit(X_train, y_train_t)

# vaidation 데이터로 성능 평가
y_pred = model.predict(X_val)
print(classification_report(y_val.astype(int), y_pred))

              precision    recall  f1-score   support

           0       0.43      0.42      0.42       489
           1       0.36      0.33      0.35       462
           2       0.53      0.55      0.54       536
           3       0.62      0.67      0.64       529

    accuracy                           0.50      2016
   macro avg       0.49      0.49      0.49      2016
weighted avg       0.49      0.50      0.50      2016

In [24]:
# 예측
y_pred = model.predict(df_test)
df = pd.DataFrame(y_train['ID'], columns=['ID'])
df['Segmentation'] = y_pred

# Segmentation 데이터를 숫자에서 문자로 수정
df['Segmentation'][df['Segmentation'] ==0] = 'A'
df['Segmentation'][df['Segmentation'] ==1] = 'B'
df['Segmentation'][df['Segmentation'] ==2] = 'C'
df['Segmentation'][df['Segmentation'] ==3] = 'D'
print(df.head())

# CSV 파일 저장
# df.to_csv('result.csv', index=False)

   ID Segmentation
0   3            D
1   1            D
2   1            C
3   2            B
4   2            D