In [1]:
# 1 유형

In [50]:
# 1
# https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_1.csv
# 주어진 데이터를 이용하여 이동시간(도착 - 출동)이 평균적으로 가장 오래 걸린 구급대의 이동시간을 구하시오.
# 분 단위로 환산 및 반올림하여 정수로 출력

import pandas as pd

# 데이터 로드
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_1.csv')

# datetime으로 바꾸기
df['출동시간'] = pd.to_datetime(df['출동시간'])
df['도착시간'] = pd.to_datetime(df['도착시간'])

# 이동시간 컬럼 추가
df['이동시간'] = df['도착시간'] - df['출동시간']
# 분으로 환산
df['이동시간'] = df['이동시간'].dt.total_seconds()/60

# 구급대별 평균이 가장 큰 구급대의 이동시간 출력
print(int(df.groupby('구급대').이동시간.mean().loc['구급대7']))

83

In [61]:
# 2
# https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_2.csv
# 교수 1인당 맡고 있는 학생 수가 가장 많은 대학교를 찾고,
# 그 대학교의 전체 교수의 수를 구하시오

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_2.csv')
display(df.head())
df.tail()

# 전체 학생 수 컬럼 추가
df['학생수'] = df['경영학과'] + df['경제학과'] + df['컴퓨터공학과'] + df['산업공학과'] + df['국문학과'] + df['영문학과']

# 학생수 / 교수 값 확인 해서 값이 가장 큰 학교수 교수 수 출력
print(df.iloc[(df['학생수'] / df['교수']).idxmax()]['교수'])

   대학교명  교수  경영학과  경제학과  컴퓨터공학과  산업공학과  국문학과  영문학과
0  대학교1  20   121    72     158    131    77    59
1  대학교2  31   178   139     145    137    63    90
2  대학교3  23   136   139     154    111    91    50
3  대학교4  32    72   136      67     51   133   159
4  대학교5  22    61    73      86     82    55   124

22

In [84]:
# 3
# https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_3.csv
# 연도별 총 범죄 건수의 월평균 값을 구하고
# 그 값이 가장 큰 연도의 총 범죄 건수의 월평균 값을 집계
# 반올림하여 정수로 출력

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_1_3.csv')
df.head()

# 연도, 월 컬럼 추가
df['연도'] = df['날짜'].apply(lambda x:x.split(' ')[0])
df['월'] = df['날짜'].apply(lambda x:x.split(' ')[1])

# 범죄합 컬럼 추가
df['범죄합'] = df['폭력범죄'] + df['지능범죄'] + df['교통범죄'] + df['절도범죄'] + df['경제범죄'] + df['정치범죄']

# 연도별 범죄합 보고 월평균으로 값 구하고 가장 큰 연도 구하기
print(int((df.groupby('연도').범죄합.sum()/12).loc['2021년']))

528

In [86]:
# 2 유형

In [2]:
# https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_train.csv
# https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_test.csv
# 학생들의 생활패턴, 신체. 거주지역 등에 대한 데이터
# 530명에 대한 학습용 데이터를 이용하여 학생구분 예측 모형을 만든 후
# 이를 평가용 데이터에 적용하여 얻는 230명의 학생의 구분을 csv 파일로 생성하시오
# 평가는 f1_score

import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

# 데이터 로드
train_df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_2_test.csv')

In [3]:
# object 형식 컬럼을 숫자로 변환
encoder = LabelEncoder()

# 키, 체격, 거주지역, 구분
train_df['키'] = encoder.fit_transform(train_df['키'])
x_test['키'] = encoder.transform(x_test['키'])
train_df['체격'] = encoder.fit_transform(train_df['체격'])
x_test['체격'] = encoder.transform(x_test['체격'])
train_df['거주지역'] = encoder.fit_transform(train_df['거주지역'])
x_test['거주지역'] = encoder.transform(x_test['거주지역'])
train_df['구분'] = encoder.fit_transform(train_df['구분'])

In [4]:
# 데이터 지정 - 제출용
y_train = train_df['구분']
x_train = train_df.drop(columns='구분', axis=1)

print(x_train.shape, y_train.shape)
print(x_test.shape)

(530, 8) (530,)
(230, 8)

In [5]:
# # 데이터 지정 - 검증용
# y = train_df['구분']
# X = train_df.drop(columns='구분', axis=1)

# x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=311)

# print(x_train.shape, y_train.shape)
# print(x_test.shape, y_test.shape)

In [11]:
# 모델 지정
model = RandomForestClassifier()
# 학습, 예측
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
# 예측 결과를 역변환
y_pred = encoder.inverse_transform(y_pred)

result_csv = pd.DataFrame(y_pred, columns=['구분예측']).to_csv(index=False)
print(result_csv)

구분예측
대학생
초등학생
중학생
유치원생
고등학생
고등학생
유치원생
초등학생
초등학생
고등학생
고등학생
초등학생
유치원생
유치원생
중학생
유치원생
유치원생
초등학생
초등학생
중학생
유치원생
중학생
초등학생
중학생
초등학생
유치원생
고등학생
유치원생
대학생
초등학생
초등학생
대학생
대학생
유치원생
대학생
초등학생
유치원생
유치원생
초등학생
고등학생
유치원생
유치원생
초등학생
초등학생
유치원생
중학생
초등학생
유치원생
중학생
고등학생
중학생
초등학생
중학생
고등학생
고등학생
초등학생
초등학생
고등학생
초등학생
고등학생
고등학생
유치원생
고등학생
초등학생
중학생
중학생
유치원생
초등학생
초등학생
유치원생
초등학생
초등학생
중학생
고등학생
초등학생
유치원생
고등학생
대학생
초등학생
유치원생
고등학생
유치원생
초등학생
대학생
초등학생
유치원생
유치원생
초등학생
대학생
유치원생
유치원생
초등학생
유치원생
대학생
대학생
초등학생
중학생
유치원생
유치원생
대학생
고등학생
초등학생
초등학생
초등학생
초등학생
고등학생
유치원생
유치원생
초등학생
유치원생
유치원생
대학생
고등학생
고등학생
대학생
유치원생
대학생
중학생
유치원생
유치원생
유치원생
중학생
고등학생
중학생
중학생
대학생
고등학생
중학생
초등학생
고등학생
초등학생
중학생
유치원생
고등학생
고등학생
고등학생
유치원생
고등학생
대학생
유치원생
유치원생
고등학생
초등학생
초등학생
유치원생
초등학생
초등학생
중학생
초등학생
고등학생
유치원생
유치원생
고등학생
고등학생
고등학생
유치원생
중학생
초등학생
초등학생
고등학생
대학생
유치원생
초등학생
대학생
초등학생
유치원생
중학생
유치원생
초등학생
유치원생
고등학생
대학생
고등학생
초등학생
고등학생
초등학생
초등학생
유치원생
중학생
고등학생
고등학생
초등학생
초등학생
유치원생
초등학생
고등학생
대학생
유치원생
중학생
유치원생
대학생
초등학생
대학생
대학생
고등학생
대학생
중학생
초등학생
유치원생
고등학생
초등학생
초등학생
고등학생
고등학생
초등학생
고등학생
유치원생
고등학생
대학생
초등학생
유치원생
유치원생
초등학생
유치원생
초등학생
대학생
중학생
유치원생
초등학생
대학생
초등학생
고등학생
유치원생
유치원생
유치원생
초등학생
초등학생
고등학생
고등학생
초등학생

In [12]:
# 3 유형

In [119]:
# 1)
# https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_3_1.csv
# 항암제를 투여 받은 환자들의 부작용 분포와 감기약을 투여 받은 환자들의 부작용 분포간 차이가 있는지 확인

import pandas as pd
import scipy.stats as ss

# 1
# 함암제 투여 환자들의 '무증상' 비율을 0과 1사이로 구하시오
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_3_1.csv')
print(df[df == '무증상'].count().values[0] / len(df))

# 2
# 감기약 부작용 비율과, 항암제 부작용 관찰 값이 통계적으로 유의미하게 차이가 있는지 카이제곱 검정을 이용하여 검정 통계량 구하기

# 무증상, 조금아픔, 아픔, 속쓰림 순
cancer = df.value_counts().to_list()
cold = [0.7*20, 0.1*20, 0.05*20, 0.15*20]

chi2_stat, p_value = ss.chisquare(cancer, cold)

# 결과
print(f'검정 통계량: {chi2_stat}')

# 3
# p_value 구하기
print(f'p_value: {p_value}')

0.55
검정 통계량: 6.976190476190475
p_value: 0.07266054733847582

In [121]:
# 2)
# https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_3_2.csv
# 다중선형회귀 문제를 해결 하시오

# 2-1
# 선형회귀 모델을 만들어 독립변수 Ozone의 회귀계수를 구하시오
    # 독립변수: Solar, Wind, Ozone
    # 종속변수: Temp

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/dataset/main/data_6_3_2.csv')
df

     Ozone  Solar  Wind  Temp  Month  Day
0     41.0  190.0   7.4    67      5    1
1     36.0  118.0   8.0    72      5    2
2     12.0  149.0  12.6    74      5    3
3     18.0  313.0  11.5    62      5    4
4      NaN    NaN  14.3    56      5    5
..     ...    ...   ...   ...    ...  ...
148   30.0  193.0   6.9    70      9   26
149    NaN  145.0  13.2    77      9   27
150   14.0  191.0  14.3    75      9   28
151   18.0  131.0   8.0    76      9   29
152   20.0  223.0  11.5    68      9   30

[153 rows x 6 columns]

In [155]:
# 결측행 제거
df.dropna(inplace=True)

# X,y 지정
X = df[['Solar', 'Wind', 'Ozone']]
y = df['Temp']
# 스플릿
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=311)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

# 스케일러 적용
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# 학습
model = LinearRegression()
model.fit(x_train, y_train)
# 예측
mean_squared_error(y_test, model.predict(x_test))
# Ozone 회귀계수
model.coef_[-1]

(88, 3) (88,)
(23, 3) (23,)

5.463651446410308