#### 1유형

* 데이터셋: airquality.csv
1. airquality 데이터에 대해서 결측치가 가장 많은 변수를 찾아서 해당 결측치를 0으로 대치하고, 결측치를 제외한 평균과 0으로 대치한 후의 평균과의 차이를 구하시오.
2. Wind 변수에 대해서 Min~Max 정규화를 수행한 후 평균값과 Z 정규화를 수행한 후 평균 값의 차이를 구하시오.(소수점 2자리까지 표시)
3. 월별(5월~9월) 평균 기온을 구하시오.

In [25]:
# 1

import pandas as pd

# 데이터 로드
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/airquality.csv')
# 결측치 가장 많은 변수 확인
max_null_col = df.isna().sum().idxmax()
# 결측치를 대치하기 전 평균
print(df[max_null_col].mean())
# 결측치 0으로 대치 후 평균
print(df[max_null_col].fillna(0).mean())

42.12931034482759
31.941176470588236

In [36]:
# 2

import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# 데이터 로드
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/airquality.csv')
df = df[['Wind']]

# scaler 지정
mm_scaler = MinMaxScaler()
sd_scaler = StandardScaler()

# 민맥스스케일러 적용한 후 평균값
print(f'{mm_scaler.fit_transform(df).mean():0.2f}')

# Z정규화(스탠다드스케일러) 적용한 후 평균값
print(f'{sd_scaler.fit_transform(df).mean():0.2f}')

0.43
-0.00

In [37]:
# 3

import pandas as pd
import numpy as np

# 데이터 로드
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/airquality.csv')
df = df[['Month', 'Temp']]

# 월별 평균 기온
df.groupby('Month').Temp.mean().to_frame()

            Temp
Month
5      65.548387
6      79.100000
7      83.903226
8      83.967742
9      76.900000

#### 2유형

* 데이터셋 : Bank_Personal_Loan_Modeling.csv
1. 은행에서 수집한 고객 5,000명의 금융정보에 따른 대출여부가 들어있는 참조데이터를 이용하여 대출여부를 분류하는 가장 최적의 이웃의 크기(k)를 구하고, 이에 분류정확도를 산출하시오.
   1. 단, 참조데이터는 7:3의 비율로 트레이닝 데이터와 테스트 데이터로 구분하고, 트레이닝 데이터와 테스트 데이터의 대출여부(Y)의 비율도 유지한다. 또한 normalizer를 사용하여 스케일링을 진행한다.

In [7]:
import numpy as np
import scipy.stats as ss
import pandas as pd
from sklearn.preprocessing import Normalizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# 데이터 로드
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/Bank_Personal_Loan_Modeling.csv')
display(df.head(3))

# 필요없는 ID, ZIP Code 삭제
df = df.drop(columns=['ID', 'ZIP Code'], axis=1)

# X,y 지정
y = df['Personal Loan']
X = df.drop(columns='Personal Loan', axis=1)

# 분할 7:3
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=311)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

# normalization 적용
normalizer = Normalizer()
x_train = normalizer.fit_transform(x_train)
x_test = normalizer.transform(x_test)

# K 1~25 넣어서 학습하고 가장 높은 값으로 반환
max_k_nb = 0
max_acc = 0
for k_nb in range(1, 26):
    model = KNeighborsClassifier(k_nb)
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    acc = accuracy_score(y_test, y_pred)
    if acc > max_acc :
        max_acc = acc
        max_k_nb = k_nb
        
print(f'정확도가 가장 높은 K는 {max_k_nb}이고 {max_acc:0.4f}')

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0

(3500, 11) (3500,)
(1500, 11) (1500,)
정확도가 가장 높은 K는 2이고 0.9227

#### 3유형

* 데이터셋 : airquality.csv
1. 측정한 온도(Temp)의 평균값이 평균온도인 77과 일치하는지 t-검정을 이용하여 확인하시오.
   1. 표본평균 X를 소수점 둘째짜리까지 반올림하여 구하시오.
   2. 가설검정을 위한 검정통계량을 소수점 둘째짜리까지 반올림하여 구하시오.
   3. 통계량에 대한 p-value 값을 소수점 넷째짜리까지 반올림하여 구하고, 유의수준 0.05 내에서 결과를 논하시오. (채택과 기각 중 선택)

In [11]:
import pandas as pd
import scipy.stats as ss

# 데이터 로드
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/airquality.csv')
# Temp만 남기기
df_temp = df['Temp']

# 실제 표본평균 X
X = df_temp.mean()

# t-test 1sample 진행
t_stat, p_value = ss.ttest_1samp(df_temp, 77)

# 결과 확인
print(f'표본평균의 실제 평균: {round(X, 2)}')
print(f'검정통계량: {round(t_stat, 2)}')
print(f'p-값: {round(p_value, 4)}')
print('-'*50)

if p_value < 0.05 : print('귀무가설 기각, 표본평균의 평균은 77과 다를 가능성이 있음')
else : print('대립가설 기각, 표본의 평균은 77과 같을 가능성이 있음')

표본평균의 실제 평균: 77.88
검정통계량: 1.15
p-값: 0.2507
--------------------------------------------------
대립가설 기각, 표본의 평균은 77과 같을 가능성이 있음