>>**04 랜덤 포레스트를 이용한 예측 문제 해결**

In [2]:
# housing 데이터 사용
# median_house_value를 종속 변수로 설정
# 상관성 분석 후 필요한 변수만 사용
# 평균제곱오차(MSE) 로 평가하기
# RandomForestRegressor 사용
# 결측치 처리
    # 결측값 행 삭제
    # 변수형 데이터 삭제
# 분할 7:3

In [3]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [4]:
# housing 데이터 사용
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
# 결측치 처리
    # 결측값 행 삭제
    # 변수형 데이터 삭제
df.dropna(inplace=True)
df.drop(columns='ocean_proximity', axis=1, inplace=True)

In [7]:
# 상관성 분석 후 필요한 변수만 사용
df.corr(method='pearson')
# 종속 변수 제외 모두 사용

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924616,-0.109357,0.045480,0.069608,0.100270,0.056513,-0.015550,-0.045398
latitude,-0.924616,1.000000,0.011899,-0.036667,-0.066983,-0.108997,-0.071774,-0.079626,-0.144638
housing_median_age,-0.109357,0.011899,1.000000,-0.360628,-0.320451,-0.295787,-0.302768,-0.118278,0.106432
total_rooms,0.045480,-0.036667,-0.360628,1.000000,0.930380,0.857281,0.918992,0.197882,0.133294
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686
population,0.100270,-0.108997,-0.295787,0.857281,0.877747,1.000000,0.907186,0.005087,-0.025300
households,0.056513,-0.071774,-0.302768,0.918992,0.979728,0.907186,1.000000,0.013434,0.064894
median_income,-0.015550,-0.079626,-0.118278,0.197882,-0.007723,0.005087,0.013434,1.000000,0.688355
median_house_value,-0.045398,-0.144638,0.106432,0.133294,0.049686,-0.025300,0.064894,0.688355,1.000000

In [9]:
# 데이터 준비
X = df[['longitude', 'latitude', 'housing_median_age', 'total_rooms','total_bedrooms', 'population', 'households', 'median_income']]
y = df['median_house_value']

# 분할 7:3
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=311)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(14303, 8) (14303,)
(6130, 8) (6130,)

In [10]:
# 모델 준비
model = RandomForestRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
mse

2505677336.599668

In [11]:
# 값이 높으니 x_train으로 확인
mean_squared_error(y_train, model.predict(x_train))

348794905.094241