**PART 03** 제2유형: 데이터 분석

> **CHAPTER 02** 지도학습 - 분류
> >**01 의사결정나무를 이용한 분류 문제 해결**

In [25]:
import pandas as pd
import numpy as np
import sklearn

from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

In [13]:
df = pd.read_csv('C:/Engineer_Big_Data_Analysis/DATAS/이기적데이터/titanic.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
# 결측값이 있는 것 같으니 컬럼별 확인
df.isna().sum()
# Age, Cabin, Embarked

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
# Age는 평균으로 Embarked는 최빈값으로 대치
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
# 확인
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [18]:
# 범주형 데이터도 인코딩 적용
# Sex, Embarked 에 LabelEncoder로 0부터 시작하는 숫자롤 변환
lbencoder = LabelEncoder()
df['Sex'] = lbencoder.fit_transform(df['Sex'])
df['Embarked'] = lbencoder.fit_transform(df['Embarked'])

print(df['Sex'].unique())
print(df['Embarked'].unique())

[1 0]
[2 0 1]

In [20]:
# SipsP + Parch = FamilySize 컬럼 추가하기
df['FamilySize'] = df['SibSp'] + df['Parch']
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0,1
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2,1
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2,0

In [23]:
# 데이터셋 준비하고 분리
X = df[["Pclass","Sex","Age","Fare","Embarked","FamilySize"]]
Y = df["Survived"]

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state= 311)

print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(712, 6) (712,)
(179, 6) (179,)

In [24]:
# 모델 생성하고 학습
cl_model = DecisionTreeClassifier(random_state=311)
# 학습
cl_model.fit(x_train, y_train)
# 예측
y_pred = cl_model.predict(x_test)

In [26]:
# 성능평가 - 분류니까 aac 사용
acc = accuracy_score(y_test, y_pred)
acc

0.7877094972067039